[submodule "src/libs/boost"]
	path = libs/boost
	url = https://github.com/boostorg/boost.git
[submodule "src/libs/easy_profiler"]
	path = libs/easy_profiler
	url = https://github.com/yse/easy_profiler.git
[submodule "src/libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "src/libs/implot"]
	path = libs/implot
	url = https://github.com/epezent/implot.git
[submodule "src/libs/JoltPhysics"]
	path = libs/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "src/libs/luacpp"]
	path = libs/luacpp
	url = https://github.com/jordanvrtanoski/luacpp.git
[submodule "src/libs/PerlinNoise"]
	path = libs/PerlinNoise
	url = https://github.com/Reputeless/PerlinNoise.git
[submodule "src/libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
[submodule "src/libs/tinyobjloader"]
	path = libs/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
