[submodule "3rdparty/FastNoise2"]
	path = 3rdparty/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
[submodule "src/libs/easy_profiler"]
	path = src/libs/easy_profiler
	url = https://github.com/yse/easy_profiler.git
[submodule "src/libs/PhysX"]
	path = src/libs/PhysX
	url = https://github.com/NVIDIA-Omniverse/PhysX.git
